<div id="documentation" class="examples">
  <div class="container">
    <div class="section-heading">
      <h1 class="title" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInDown;">
        Documentation & Configuration
      </h1>
      <div style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
        <h2 class="lead">An advanced way to get to know <code>ember-rollbar-client</code> better</h2>
        <a class="btn btn-lg btn-outline btn-default" href="https://github.com/Exelord/ember-rollbar-client">d{{fa-icon "github"}}cumentati{{fa-icon "github"}}n</a>
      </div>
    </div>
  </div>
</div>