---
language: node_js
node_js:
  # we recommend testing addons with the same minimum supported node version as Ember CLI
  # so that your addon works for all apps
  - "8"

sudo: false
dist: trusty

addons:
  chrome: stable

cache:
  directories:
    - $HOME/.npm

env:
  global:
    # See https://git.io/vdao3 for details.
    - JOBS=1

branches:
  only:
    - master
    # npm version tags
    - /^v\d+\.\d+\.\d+/

jobs:
  fail_fast: true
  allow_failures:
    - env: EMBER_TRY_SCENARIO=ember-canary

  include:
    # runs linting and tests with current locked deps
    - stage: "Tests"
      name: "Tests"
      script:
        - npm run lint:hbs
        - npm run lint:js
        - npm test

    - stage: "Additional Tests"
      name: "Floating Dependencies"
      install:
        - npm install --no-package-lock
        - npm rebuild
      script:
        - npm test

    # we recommend new addons test the current and previous LTS
    # as well as latest stable release (bonus points to beta/canary)
    - env: EMBER_TRY_SCENARIO=ember-lts-3.8
      before_script: npm rebuild

    - env: EMBER_TRY_SCENARIO=ember-lts-3.12
      before_script: npm rebuild

    - env: EMBER_TRY_SCENARIO=ember-release
      before_script: npm rebuild

    - env: EMBER_TRY_SCENARIO=ember-beta
      before_script: npm rebuild

    - env: EMBER_TRY_SCENARIO=ember-canary
      before_script: npm rebuild

    - env: EMBER_TRY_SCENARIO=ember-default-with-jquery
      before_script: npm rebuild

    - env: EMBER_TRY_SCENARIO=ember-classic
      before_script: npm rebuild


script:
  - node_modules/.bin/ember try:one $EMBER_TRY_SCENARIO
