<div id="getting-started">
  <div class="container">
    <div class="text-center">
      <h1>Getting started</h1>
      <h2 class="lead">How to start with ember-rollbar-client</h2>
    </div>
    <br>

    <h3>1. Instalation</h3>

    <p>Run: <code>ember install ember-rollbar-client</code></p>
    <p>Add access token to the <code>config/environment.js</code>:</p>
<pre><span class="pl-c1">module</span>.<span class="pl-en">exports</span> <span class="pl-k">=</span> <span class="pl-k">function</span>(<span class="pl-smi">environment</span>) {
  <span class="pl-k">var</span> <span class="pl-c1">ENV</span> <span class="pl-k">=</span> {
    <span class="pl-s"><span class="pl-pds">'</span>emberRollbarClient<span class="pl-pds">'</span></span><span class="pl-k">:</span> {
      accessToken<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>rollbar-write-client-token<span class="pl-pds">'</span></span>,
    };
  };

  <span class="pl-k">return</span> <span class="pl-c1">ENV</span>;
}</pre>

    <h3>2. Usage</h3>

    <p>That's all! Errors are logged automaticaly to your Rollbar app.</p>

    <h3>3. Configuration</h3>
    If you need more <code>configurations options</code> or want to get control over logger, check out our documentation.
  </div>
</div>
