<div id="header">
  <PageSections::Header::Navbar/>

  <div class="container text-center">
    <img src="images/logo.png" alt="ember rollbar client" class="logo">
    <h1 class="lead">The Rollbar client which just works...</h1>
    <h5>Compatible with Ember 3.8 and higher, dedicated for logging errors to Rollbar platform.</h5>
    <br><br><br><br>
    <ScrollTo class="btn btn-lg btn-outline btn-default" href="#getting-started" offset={{-90}}>
      Getting Started
    </ScrollTo>
  </div>
</div>